@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: rgb(5, 4, 0);
  background-color: #f0fff3;
}
/*nav*/
.navbar-brand {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.titel {
  color: red;
  font-size: 2em;
  border-bottom: 0.1em solid red;
  text-transform: uppercase;
  width: 100%;
}

.bg-vero {
  background-color: #62d2a2;
}

.nav-link:hover {
  text-decoration-line: underline;
}

h5 {
  font-weight: 700;
}

.home:hover {
  transform: scale(1.1);
}

.btn-secondary:hover {
  background-color: #62d2a2;
}

h6 {
  font-size: 1em;
  text-align: center;
  font-weight: 700;
}

.niveau {
  width: 40%;
}

h4 {
  text-align: left;
  text-decoration-line: underline;
  font-weight: 600;
}
